---
import { siteConfig } from "@/site.config";

const year = new Date().getFullYear();
---

<footer
	class="semibold mt-auto flex w-full flex-col items-center justify-center gap-y-2 pb-4 pt-8 text-center align-top text-accent"
>
	<div class="font-semibold">
		&copy; {siteConfig.author} {year}
	</div>
</footer>
