---
import PageLayout from "@/layouts/Base.astro";

const meta = {
  description: "Some professional and personal info about Roger Campbell",
  title: "About",
};
---

<PageLayout meta={meta}>
  <h2 class="title mb-6">Professional Summary</h2>
  <div class="prose prose-citrus max-w-none text-gray-800 dark:text-gray-200">
    <p>
      I have been building software for a very long time. Not quite back to the
      days of punch cards, but I did write some programs with BASIC on an Apple
      II (that was in high school) and the first version of Turbo Pascal on a
      Compaq portable with dual floppy drives. Of course, very little of that is
      relevant today except for some algorithms and understanding the
      foundations of what later became the internet.
    </p>
    <p>
      I'd like to think much of what I have done in the last couple of decades
      is more useful experience. One benefit of getting older is we gain some
      insight into both ourselves and other people. That, along with general
      problem solving skills are probably the most valuable of what I have to
      offer. It is sort of a golden age now where we have AI that can speed up
      and fill in the gaps for our coding deficiencies. More recently, some of
      the technical bits that I am interested in or have worked on include:
    </p>
    <ul class="list-inside list-disc" role="list">
      <li>
        Like many people involved in software development, I am excited to use
        the latest AI models as a programming aid. It enables an inexperienced
        or non programmer to create software quickly and inexpensively. It also
        allows a person like me to build software faster that ever before and
        with languages and technologies that I haven't used previously. I think
        these LLMs and other models are also amazing for enabling features and
        functionality that is new and was previously not possible. We are
        already seeing some of this, and I expect much more in the near future.
      </li>
      <li>
        My partner and I spent about a decade working on load testing web sites.
        We created a product called LoadStorm that many customers used and
        loved, although ultimately we could not compete in this space. Over that
        time, I learned a lot about how to run a business and retrospectively
        what we might have done differently to make it work. I also gained a
        huge amount of experience in optimizing and evaluating sites for high
        performance, scalability and reliability.
      </li>
      <li>
        I have been peripherally involed in paper manufacturing for a long time.
        My father was a paper industry executive and eventually purchased (with
        partners) a recycled paper mill in the mountains of North Carolina. I
        was a board member for Jackson Paper Manufacturing through their growth
        and expansion into two converting facilities. I have learned a bit about
        what happens in this kind of business. It seems unique to have a view of
        a business that includes the boardroom perspective, a little sales, some
        engineering and out on the factory floor. The operation was sold a few
        years ago.
      </li>
      <li>
        I wrote code and participated (unsuccessfully) in the ARC Challenge last
        year. My code was using a generative approach which was creating and
        evaluating solutions in an evolutionary algorithm using C++. I'm
        considering entering again this year but expect to focus on more
        fruitful projects.
      </li>
    </ul>
    <h2 class="title mb-6">Personal Interests</h2>
    <p>
      If curious or just want to verify that I am (mostly) human, I also have
      some personal interests.
    </p>
    <ul class="list-inside list-disc" role="list">
      <li>
        I am happily married with daughters, sons-in-law and grandkids.
        Grandparenting is awesome!
      </li>
      <li>We are Christians and active at our church.</li>
      <li>
        I enjoy the outdoors and usually spend some time each week hiking and
        jogging with my dog, Rio, in the desert near our Albuquerque home.
      </li>
      <li>
        If you recognized the Strava link on the home page, you might correctly
        guess that I like riding bicycles. That, along with some slow paced
        running, rucking and other workouts helps to keep me somewhat fit.
      </li>
      <li>
        I have been struggling to learn Spanish over the last few years. I took
        a little bit of high school Spanish that didn't stick and live in the
        southwestern US, so not quite starting from zero. But, learning a new
        language is definitely a humbling experience for someone used to picking
        up math and technology easily.
      </li>
    </ul>
    <h2 class="title mb-6">About This Site</h2>
    <p>
      This site was created using a JAMStack tool called Astro and a theme made
      by Artem Kutsan that I trimmed most of the features from. It is deployed
      on Github using their Pages feature.
    </p>
  </div>
</PageLayout>
